<div class="row pt-5" >
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Register</h3>
                </div>
                <div class="card-body">
                    <form class="form">
                            <div class="form-group">
                                 <label for="email" >Email</label>
                                 <input  name="email"[(ngModel)]="registerUserData.email" type ='text'class="form-control" required>
                            </div>
                            <div class="form-group">
                                    <label for="password" >Password</label>
                                    <input name="password" [(ngModel)]="registerUserData.password" type ='password'class="form-control" required> 
                            </div>
   
                            <button (click)="registeredUser()" type="button" class="btn btn-success float-right">Register </button>
                    </form>
                </div>
            </div>
        </div>

</div>